importFrom(survival,"Surv")
importFrom(MASS,"ginv")
importFrom(graphics, "lines", "plot")
importFrom(stats, "coef", "model.extract", "model.matrix", "printCoefmat", "pt", "qnorm", "quantile", "rexp", "sd","stepfun", "terms","as.formula", "na.omit", "nlm", "pnorm")
importFrom(ICsurv,"Ispline")
importFrom(pracma,"hessian")
export("GORH","summary.GORH","predict.GORH","plot.predict.GORH")
S3method(print,GORH)
S3method(summary,GORH)
S3method(print,summary.GORH)
S3method(predict,GORH)
S3method(plot,predict.GORH)
